<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" data-ng-app> <!--<![endif]-->
<head >
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>Turner - Artist searh app</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/misc.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/search.js"></script>

</head>
<body>
<div data-ng-controller="SearchCtrl">
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div id="front" >
        <div class="site-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-6">

						<div id="contact" class="content-section">
							<div class="container">
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<div class="row search-box">
											<fieldset class="col-md-6 col-sm-6">
												<input type="text" data-ng-model="keywords" class="" placeholder="Search Artist..." data-ng-change="keyword_change()" >
											</fieldset>
										</div> <!-- /.contact-form -->
									</div> <!-- /.col-md-6 -->
								</div> <!-- /.row -->
							</div> <!-- /.container -->
						</div> <!-- /#products -->



                    </div> <!-- /.col-md-4 -->
                    <div class="col-md-8 col-sm-6 col-xs-6">
                        <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                        <div class="main-menu">
                            <ul>
                                <li><a href="#front">Home</a></li>
                                <li><a href="#favourite">Favourites</a></li>
                            </ul>	
                        </div> <!-- /.main-menu -->
                    </div> <!-- /.col-md-8 -->
                </div> <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="responsive">
                            <div class="main-menu">
                                <ul>
                                    <li><a href="#front">Home</a></li>
                                    <li><a href="#favourite">Favourites</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.site-header -->
    </div> <!-- /#front -->

    <div id="artists" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="section-title">Artists</h1>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
            <div class="row">
				<div class="col-md-3 col-sm-6" data-ng-repeat="x in result">
                    <div class="product-item">
                        <div class="item-thumb">
                            <span class="note"><img src="{{x.images.0.url}}" alt=""></span>
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <a href="#nogo" class="view-detail" data-ng-click="add_favourite(x,'artist')">Add to Favourites</a>
                                </div>
                            </div> <!-- /.overlay -->
                            <img src="images/grey-bg.jpg" alt="">
                        </div> <!-- /.item-thumb -->
                        <h3>{{ x.name }}</h3>
                        <span><a href="#album" data-ng-click="chk_album(x)"><em class="price">View Albums</a></em></span>
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#products -->


    <div id="album" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="section-title">Albums</h1>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
            <div class="row">
				<div class="col-md-3 col-sm-6" data-ng-repeat="x in albums">
                    <div class="product-item">
                        <div class="item-thumb">
                            <span class="note"><img src="{{x.images.0.url}}" alt=""></span>
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <a href="#nogo" class="view-detail" data-ng-click="add_favourite(x,'album')">Add to Favourites</a>
                                </div>
                            </div> <!-- /.overlay -->
                            <img src="images/grey-bg.jpg" alt="">
                        </div> <!-- /.item-thumb -->
                        <h3>{{ x.name }}</h3>
                        <span><a href="#track" data-ng-click="chk_track(x)"><em class="price">View Tracks</a></em></span>
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#products -->

   
	<div id="track" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="section-title">Tracks</h1>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
            <div class="row">
				<div class="col-md-3 col-sm-6" data-ng-repeat="x in tracks">
                    <div class="product-item">
                        <div class="item-thumb">
                            <span class="note"><img src="{{x.images.0.url}}" alt=""></span>
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <a href="#nogo" class="view-detail" data-ng-click="add_favourite(x,'track')">Add to Favourites</a>
                                </div>
                            </div> <!-- /.overlay -->
                            <img src="images/grey-bg.jpg" alt="">
                        </div> <!-- /.item-thumb -->
                        <h3>{{ x.name }}</h3>
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#products -->




	<div id="favourite" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="section-title">Favourites</h1>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#products -->

    <div class="site-slider">
        
		<div class="bx-thumbnail-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
						<h3>Artists</h3>
                        <div class="remove_fav"><a ng-click="remove_favourite('artist')" alt="Clear favourite Artists">X</a></div>
                        <div id="bx-pager1">
                            <a data-ng-repeat="x in favArtist.items" href=""><img src="{{x.image}}" alt="" height=100 width=100/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<div class="bx-thumbnail-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
						<h3>Albums</h3>
                        <div class="remove_fav"><a ng-click="remove_favourite('album')" alt="Clear favourite Album">X</a></div>
                        <div id="bx-pager2" class="album-img">
                            <a data-ng-repeat="x in favAlbum.items" href=""><img src="{{x.image}}" alt="" height=100 width=100/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<div class="bx-thumbnail-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
						<h3>Tracks</h3>
                        <div class="remove_fav"><a ng-click="remove_favourite('track')" alt="Clear favourite Track">X</a></div>
                        <div id="bx-pager3">
                            <a data-ng-repeat="x in favTrack.items" class="track-name" href="">{{x.name}} </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.site-slider -->



    <div class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <span>Copyright &copy; 2014 <a href="#"></a></span>
                </div> <!-- /.col-md-6 -->
                <div class="col-md-6 col-sm-6">
                    <ul class="social">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                        <li><a href="#" class="fa fa-rss"></a></li>
                    </ul>
                </div> <!-- /.col-md-6 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.site-footer -->

    
    <script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="js/jquery.easing-1.3.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</div>
</body>
</html>